* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* html {
  font-size: 62.5%;
}
* html body {
  width: 100%;
  height: 100vh;
  font-family: "Federo", sans-serif;
}

header {
  background-color: #915a3c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 7.5%;
  box-shadow: 0px 0px 25px black;
}
header a {
  text-decoration: none;
}
header a:hover {
  opacity: 0.75;
  transition: 0.15s;
}
header .logo {
  font-size: 2rem;
  color: #e8e6e7;
  text-decoration: underline;
}
header .logo i {
  padding-right: 0.5rem;
}
header .link {
  font-size: 1.8rem;
  color: #e8e6e7;
  padding-left: 0.5rem;
}

main {
  min-height: 89%;
  background-color: #4c7972;
  padding: 1.5rem 0;
}

.card {
  margin: 0 2rem 1.5rem 2rem;
  background-color: #cfb79f;
  border: 2px solid #915a3c;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
.card .reverse {
  flex-flow: row-reverse;
}
.card .card-header {
  padding: 0.5rem 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card .card-header .card-img {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50px;
  border: 1px solid #915a3c;
}
.card .card-header .card-title {
  color: #915a3c;
  text-decoration: underline;
  font-size: 1.5rem;
}
.card .event-header {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0.5rem;
  border-radius: 20px;
}
.card .event-header .event-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}
.card .event-header .event-title-container {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.card .event-header .event-title-container .event-title {
  text-align: center;
  letter-spacing: 1.25px;
  color: #e8e6e7;
  padding-bottom: 5px;
}
.card .event-info {
  margin: 1rem;
}
.card .event-info .event-info-content {
  margin: 0.5rem 0;
  padding-bottom: 0.25rem;
  font-size: 1.1rem;
  border-bottom: 1px solid #915a3c;
}
.card .event-info .event-info-content h3 {
  color: #915a3c;
  text-decoration: underline;
}
.card .event-info .event-info-content p {
  text-align: end;
}
.card .separator {
  margin: 1rem auto 1.5rem auto;
  background-color: #915a3c;
  height: 0.25rem;
  width: 90%;
}
.card .card-text {
  margin: 0 1rem 2rem 1rem;
  font-size: 1.2rem;
  text-align: justify;
}

form {
  margin: 0 1rem 2rem 1rem;
  font-size: 1.2rem;
}
form .group {
  display: inline-block;
  margin: 0.25rem 0;
}
form input {
  font-size: 1.1rem;
  width: 165px;
  border: none;
  background-color: rgba(241, 223, 205, 0.6352941176);
  outline: none;
}
form .crypto {
  width: 40px;
}
form .give {
  width: 60px;
}
form textarea {
  font-size: 1.1rem;
  width: 100%;
  height: 60px;
  border: none;
  background-color: rgba(241, 223, 205, 0.6352941176);
  outline: none;
  resize: none;
}
form button {
  font-size: 1.1rem;
  background-color: #915a3c;
  color: #e8e6e7;
  border: none;
  border-radius: 10px;
  align-items: center;
  width: 25%;
  padding: 0.5rem 0.25rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
form button:hover {
  opacity: 0.75;
}

footer {
  padding-top: 0.25rem;
  text-align: center;
  font-size: 0.75rem;
  background-color: #cfb79f;
  height: 3.5%;
  box-shadow: 0px 0px 25px black;
}/*# sourceMappingURL=style.css.map */